.add-form{
   text-align: center;
   width: 100%;
   display: flex;
}

.add-form-text{
   font-size: 2em;
   font-weight: 600;
   letter-spacing: .1em;
   letter-spacing: 0.01em;
}
.new-post-label{
   width: 80%;
padding: 12px;
border-radius: 5px;
box-shadow: 4px 3px 3px #666565;
font-size: 16px;
}
.btn-outline-light{
   padding: 13px;
   background-color: #4143e2;
   color:#fff;
width: 150px;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
margin-left: 2%;
border: none;
border-radius: 5px;

}
.header-new-task{
   font-size:30px;
   font-weight: normal;
}

.app-add-form{
   width: 78%;
   margin: 30px 0;
}


.header-new-task, .add-form{
   width: 80%;
   margin:auto;
   margin-bottom: 20px;
   text-align: center;
}
.btn-outline-light:hover{
   opacity: 0.5;
}