

.list-group-item-label.increase{
   text-decoration: line-through;
}

.VisibleHiden{
   position: absolute;
   left: 0;
   visibility: hidden;
}
.VisibleHiden.increase{
   visibility: visible;
}
.btn-list{
   position: relative;
}

i{
   font-style: normal;
}

.list-group-item-label{
   width: 93%;
   padding-left: 20px;
}